# jetbrains
/.idea/

# dependencies
/node_modules/

# composer
/vendor/

# vagrant & homestead
/.vagrant/
/after.sh
/aliases
/Vagrantfile
/Homestead.yaml

# config
/.env

# ide-helper
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php

# public
/public/mix-manifest.json
